








/* ---------------planet stuff campaigns---------------- */
.planet-block
{
    background-image: linear-gradient(to right, grey, rgb(60, 60, 60));
    width: 30%;
    height: 650px;
    text-align: center;
}